/* mobile */
img {
  width: 100%;
  margin-bottom: 20px;
}

h2 {
  font-family: "Akira Expanded", sans-serif;
  font-size: 1.45rem;
  color: #fc43be;
  line-height: 1.125;
  margin-bottom: 45px;
  margin-top: 25px;
  padding-left: 90px;
}

#second_section h2 {
  font-family: "Akira Expanded", sans-serif;
  font-size: 1.45rem;
  color: #fc43be;
  line-height: 1.125;
  margin-bottom: 45px;
  margin-top: 49px;
  padding-left: 110px;
}

#second_section img {
  margin-bottom: 10px;
}

#fourth_section img {
  margin-bottom: 10px;
}

#third_section h2 {
  font-family: "Akira Expanded", sans-serif;
  font-size: 1.45rem;
  color: #fc43be;
  line-height: 1.125;
  margin-bottom: 45px;
  margin-top: 49px;
  padding-left: 110px;
}

#third_section img {
  margin-bottom: 10px;
}

#fourth_section h2 {
  font-family: "Akira Expanded", sans-serif;
  font-size: 1.45rem;
  color: #fc43be;
  line-height: 1.125;
  margin-bottom: 45px;
  margin-top: 49px;
  padding-left: 65px;
}

/* desktop */
@media (min-width: 800px) {
  img {
    width: 47%;
    object-fit: cover;
    margin-left: 28px;
  }

  h2 {
    font-family: "Akira Expanded", sans-serif;
    font-size: 2.2rem;
    color: #fc43be;
    line-height: 1.125;
    margin-bottom: 85px;
    margin-top: 30px;
    padding-left: 550px;
  }

  #second_section h2 {
    font-family: "Akira Expanded", sans-serif;
    font-size: 2.2rem;
    color: #fc43be;
    line-height: 1.125;
    margin-bottom: 85px;
    margin-top: 90px;
    padding-left: 540px;
  }

  #second_section img {
    margin-bottom: 20px;
  }

  #second_section .complete {
    width: 100%;
    padding-left: 350px;
  }

  #third_section h2 {
    font-family: "Akira Expanded", sans-serif;
    font-size: 2.2rem;
    color: #fc43be;
    line-height: 1.125;
    margin-bottom: 85px;
    margin-top: 90px;
    padding-left: 550px;
  }

  #third_section .prototype3 {
    width: 100%;
    padding-left: 340px;
  }

  #third_section img {
    margin-bottom: 20px;
  }

  #fourth_section h2 {
    font-family: "Akira Expanded", sans-serif;
    font-size: 2.2rem;
    color: #fc43be;
    line-height: 1.125;
    margin-bottom: 85px;
    margin-top: 90px;
    padding-left: 475px;
  }

  #fourth_section img {
    margin-bottom: 20px;
  }
}
