/*fjerner whitespace i siderne*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**/

/* mobile */
img {
  width: 100%;
}

h1 {
  font-family: "Akira Expanded", sans-serif;
  font-size: 2rem;
  color: #fc43be;
  line-height: 1.125;
  margin-bottom: 10px;
}

.splashfoto {
  display: grid;
  place-items: center;
}

img,
h1 {
  grid-area: 1 / 1;
}

/* desktop */
@media (min-width: 800px) {
  img {
    width: 100%;
  }

  h1 {
    font-family: "Akira Expanded", sans-serif;
    font-size: 5rem;
    color: #fc43be;
    line-height: 1.125;
    margin-bottom: 10px;
  }

  .splashfoto {
    display: grid;
    place-items: center;
  }

  img,
  h2 {
    grid-area: 1 / 1;
  }
}
