/*fjerner whitespace i siderne*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**/

/* mobile */

/*responsivt splashfoto*/
#first_section img {
  grid-column: 1/4;
  display: grid;
  height: 100vh;
  background-size: cover;
  background-position: 50% 10%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: auto;
}
/**/

h1 {
  font-family: "Akira Expanded", sans-serif;
  font-size: 2.1rem;
  color: #fc43be;
  line-height: 1.125;
  margin-bottom: 10px;
  margin-top: -35px;
  padding-left: 90px;
}

.splashfoto {
  display: grid;
  place-items: center;
}

img,
h1 {
  grid-area: 1 / 1;
}

/* desktop */
@media (min-width: 800px) {
  img {
    width: 100%;
  }

  h1 {
    font-family: "Akira Expanded", sans-serif;
    font-size: 5rem;
    color: #fc43be;
    margin-bottom: 10px;
    padding-left: 400px;
  }

  .splashfoto {
    display: grid;
    place-items: center;
  }

  img,
  h2 {
    grid-area: 1 / 1;
  }
}
