/*fjerner whitespace i siderne*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**/

@media (min-width: 600px) {
  #second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  #third_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }

  #fourth_section .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .col_wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    gap: 10px;
  }
  .element_3 {
    order: 1;
  }

  #fifth_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #sixth_section .section_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr 1fr 1fr;
    gap: 20px;
  }
  .image1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .image2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .image3 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .image4 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .image5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .image6 {
    grid-column: 2/5;
    grid-row: 3/3;
  }
  #sixth_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

li {
  display: inline;
  gap: 50px;
  justify-content: center;
}
img {
  width: 100%;
  object-fit: cover;
}

/*styletile*/

hr {
  border: 0;
  border-top: 1px solid #baa18b;
}

.details {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Ewert", sans-serif;
  font-size: 2.5rem;
  color: #bf4949;
  line-height: 1.125;
  margin-bottom: 10px;
  text-shadow: 3px 3px #000000;
}

h2,
h3 {
  font-family: "Rye", sans-serif;
  line-height: 1.125;
  color: #0d0d0d;
}

h2 {
  font-size: 39px;
  margin-bottom: 10px;
}

h4 {
  font-family: "Rye", sans-serif;
  line-height: 1.125;
  color: #0d0d0d;
}

p {
  font-family: "Stardos Stencil", sans-serif;
  line-height: 1.4;
  color: #0d0d0d;
  font-size: 1rem;
}

h3 {
  font-family: "Rye", sans-serif;
}

a {
  font-family: "Stardos Stencil", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #bf4949;
}

a:hover {
  color: #bf766f;
}

.color {
  height: 70px;
  width: 70px;
  border: 5px solid #fff;
}

.color_1 {
  background: #bdb5a6;
}

.color_2 {
  background: #bf766f;
}

.color_3 {
  background: #bf4949;
}

.color_4 {
  background: #8e887d;
}

.color_5 {
  background: #0d0d0d;
}

.colors {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
}

@media (min-width: 600px) {
  #styletile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
    margin-inline: auto;
  }
  #styletile section {
    grid-column: revert;
  }
}

#styletile .headings {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

body {
  background-color: #bdb5a6;
}

/*responsive_v1*/

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#first_section {
  grid-column: 1/4;
  display: grid;
  height: 100vh;
  background-image: url(billeder/splashbillede.png);
  background-size: cover;
  background-position: 50% 10%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: auto;
}

@media (orientation: portrait) and (min-width: 1200px) {
  #first_section {
    height: auto;
    aspect-ratio: 16/9;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

main section {
  grid-column: 2/3;
}

/* Menu */
header {
  position: sticky;
  top: 0%;
  box-shadow: 0 12px 28px black;
  gap: 20px;
  padding: 0.5rem 1rem;
  background-color: #bdb5a6;
}

@media (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  header nav ul {
    gap: 20px;
  }
}

header nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  padding-bottom: 0.4rem;
  overflow-x: auto;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

header .logo a {
  font-size: 2rem;
}

header .logo {
  text-align: center;
  margin-bottom: 0.5rem;
}
/**/

#first_section h1 {
  max-width: 500px;
  margin: 5rem;
  grid-column: 4/2;
  grid-row: 1;
}

#first_section p {
  max-width: 500px;
  margin: 4rem;
  line-height: 1rem;
  grid-column: 5/3;
  grid-row: 1;
}

@media (min-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 1.75rem;
}

/*browseren sætter et bindestreg i teksten hvis ikke der er plads (html)
&shy

/*responsive_v2*/

/* Mellemrum mellem mine afsnit*/

#second_section h2 {
  margin: 0.5rem;
  padding: 0.5rem;
}
#second_section h3 {
  margin: 0.5rem;
  padding: 1rem;
}
#second_section h4 {
  margin: 0.5rem;
  padding: 1rem;
}
#second_section p {
  margin: 0.5rem;
  padding: 1rem;
  font-family: "Stardos Stencil", sans-serif;
  font-size: 1rem;
}

#third_section h2 {
  margin: 0.5rem;
  padding: 1rem;
}
#third_section h3 {
  margin: 0.5rem;
  padding: 1rem;
}
#third_section h4 {
  margin: 0.5rem;
  padding: 1rem;
}
#third_section p {
  margin: 0.5rem;
  padding: 1rem;
  font-family: "Stardos Stencil", sans-serif;
  font-size: 1rem;
}

#fourth_section h2 {
  margin: 0.5rem;
  padding: 1rem;
}
#fourth_section h3 {
  margin: 0.5rem;
  padding: 1rem;
}
#fourth_section h4 {
  margin: 0.5rem;
  padding: 1rem;
}
#fourth_section p {
  margin: 0.5rem;
  padding: 1rem;
  font-family: "Stardos Stencil", sans-serif;
  font-size: 1rem;
}

#fifth_section h2 {
  margin: 0.5rem;
  padding: 1rem;
}
#fifth_section h3 {
  margin: 0.5rem;
  padding: 1rem;
}
#fifth_section h4 {
  margin: 0.5rem;
  padding: 1rem;
}
#fifth_section p {
  margin: 0.5rem;
  padding: 1rem;
  font-family: "Stardos Stencil", sans-serif;
  font-size: 1rem;
}

#sixth_section h2 {
  margin: 0.5rem;
  padding: 1rem;
}

footer {
  margin: 0.5rem;
  padding: 1rem;
}
